<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312679698759-ggrp8rqubu6r8fthsu0e737s207cvg6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312679698759-ggrp8rqubu6r8fthsu0e737s207cvg6n</string>
	<key>API_KEY</key>
	<string>AIzaSyCsrYxlteIo10ND-rs472LSjUDDVZrda74</string>
	<key>GCM_SENDER_ID</key>
	<string>312679698759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.dainikShivTimes</string>
	<key>PROJECT_ID</key>
	<string>dainikshivtimes-b940d</string>
	<key>STORAGE_BUCKET</key>
	<string>dainikshivtimes-b940d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312679698759:ios:77175f5418d7dd514efc62</string>
</dict>
</plist>